name: Deploy Flask App

on:
  push:
    branches:
      - main  # Runs only when pushing to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 147.93.107.147 >> ~/.ssh/known_hosts

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: 147.93.107.147
          username: tony
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/tony/hike
            git pull origin main
            source /home/tony/env/teton/bin/activate
            pip install --upgrade pip
            pip install --no-cache-dir -r requirements.txt
            echo "Draxtheweabo021703@" | sudo -S systemctl restart peak
